<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>App Events WEB</title>
</head>
<body>
	<h1>Register Events</h1>
	<form method="post">
	Name: <input type="text" value="" name="nome" placeholder="digite seu nome" />
	place: <input type="text" value="" name="local" placeholder="digite o local do evento" />
	date: <input type="date" value="" name="data" />
	time: <input type="text" value="" name="horario" placeholder="digite o horário" />
	
	<button type="submit"> Salvar </button>
</body>
</html>